@{
    ViewBag.Title = "LiveStreaming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>


@Styles.Render("~/Content/SmartWizard/css")
@Styles.Render("~/Content/PlUpload/css")
@Styles.Render("~/Content/DataTables/css")


@Scripts.Render("~/bundles/smartWizard")
@Scripts.Render("~/bundles/PlUpload")
@Scripts.Render("~/bundles/PlUpload/UI")
@Scripts.Render("~/bundles/DataTables")

<script type="text/javascript" src="~/Scripts/statusbar.js"></script>
<script type="text/javascript" src="~/Scripts/moment_min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <strong>DB Connection: </strong>@ViewBag.Message
        </div>
    </section>
}

